
GoldPizza
{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    opacity: 0;
    z-index: 10000;
    cursor: pointer;

    background-image: url("/ui/pizzas/gold_pizza.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.2s ease-out;

    &:hover
    {
        transform: translate(-50%, -50%) scale(1.025 1.025);
    }

    &:active
    {
        transform: translate(-50%, -50%) scale(1.1 0.95);
        transition: all 0.05s ease-in-out;
    }
}
