@using Sandbox.UI;
@using System;

@attribute [StyleSheet]

@namespace PizzaClicker

@if (Player == null) {
    return;
}

<root class="header @ClassNames">
    <p class="pizza-count">@PizzaCountValue Pizzas</p>
    <p class="pps-count">@(Player.GetPizzasPerSecond()) pizzas/sec</p>
</root>

@code
{
    public Player Player { get; set; }

    private string PizzaCountValue
    {
        get
        {
            var pizzas = Player.Pizzas;
            if (pizzas < 1_000_000) {
                return NumberHelper.ToStringWithCommas(pizzas);
            }
            return NumberHelper.ToStringWithWords(pizzas, false);
        }
    }

    private string ClassNames => (Player.FrenzyTime > 0) ? "gold" : "";

    protected override int BuildHash()
    {
        return HashCode.Combine(Player?.Pizzas);
    }
}
