@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using Sandbox.Network;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@inherits PanelComponent;
@implements Component.INetworkListener;

@attribute [StyleSheet]

@namespace PizzaClicker

<root>
    @if(!GameNetworkSystem.IsActive) return;

    <div class="background-overlay" />

    @if (Ascending) {
        <AscensionMenu Player=@LocalPlayer />
    } else {
        <div class="menu-buttons">
            <Leaderboard Players=@Players />

            <AchievementMenu Player=@LocalPlayer />
        </div>

        <PizzaCount Player=@LocalPlayer />

        <AscensionHeader Player=@LocalPlayer />

        @if (LocalPlayer?.HasBlessing("golden_switch_1") ?? false) {
            <GoldenSwitch Player=@LocalPlayer />
        }

        <div class="pizza-button" onclick=@ClickPizza />

        <div class="shop">
            @if (LocalPlayer != null) {
                <div class="upgrades @((LocalPlayer.AvailableUpgrades.Count() > 0) ? "" : "hidden")">
                    <h1>Upgrades</h1>

                    <div class="upgrade-content">
                        @foreach (var upgrade in LocalPlayer.AvailableUpgrades.OrderBy(u => u.Cost)) {
                            <UpgradeButton Upgrade=@upgrade Player=@LocalPlayer />
                        }
                    </div>
                </div>
            }

            <div class="buildings">
                <h1>Buildings</h1>

                <div class="building-list">
                    @foreach (var building in AllBuildings) {
                        <BuildingButton Building=@building Player=@LocalPlayer />
                    }
                </div>
            </div>
        </div>

    }

    <Notifications />

    <Chatbox @ref="Chat" />

    <div class="top-right-controls">
        @* <i class="minimize-button" onclick=@IGameInstance.Current.HideMenu>minimize</i> *@
        <i class="close-button" onclick=@IGameInstance.Current.Close>close</i>
    </div>

</root>