@using Sandbox;
@using Sandbox.UI;
@using System;
@using Blessings;

@attribute [StyleSheet]

@namespace PizzaClicker

@if (Player == null || Blessing == null) {
    return;
}

<root>
    <div class="header">
        <img src=@Blessing.Icon class="icon" />

        <div class="info">
            <p class="name">@Blessing.Name</p>
        </div>

        <p class="price">@(CostString) heavenly crust</p>
    </div>

    <div class="body">
        <p>@Blessing.Description</p>
    </div>

    @if (Player.HasBlessing(Blessing.Ident)) {
        <div class="requires">
            <p>(Owned)</p>
        </div>
    } else if (HasRequirements) {
        <div class="requires">
            <p>Requires:</p>

            @foreach (var requirement in Blessing.Requires) {
                <p>- @(Blessing.GetBlessing(requirement).Name)</p>
            }
        </div>
    }
</root>

@code
{
    public Player Player { get; set; }
    public Blessing Blessing { get; set; }

    private string CostString => NumberHelper.ToStringAbbreviated(Blessing.Cost);
    private bool HasRequirements => Blessing.Requires.Length > 0;

    public override void Tick()
    {
        Style.Top = Length.Pixels((Mouse.Position.y + 10f) * ScaleFromScreen);
        Style.Left = Length.Pixels((Mouse.Position.x + 10f) * ScaleFromScreen);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CostString);
    }
}
