
BlessingButton
{
    color: white;
    font-family: Verdana;
    font-size: 18px;
    left: 0px;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    cursor: pointer;
    
    transition: all 0.2s ease-out;

    *
    {
        pointer-events: none;
    }
    
    .button
    {
        position: relative;
        width: 64px;
        height: 64px;
        padding: 8px;
        background-color: rgba(black, 0.8);
        transition: all 0.2s ease-out;

        img
        {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            opacity: 0.7;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.2s ease-out;
        }
    }

    &.cant-afford
    {
        .button
        {
            background-color: rgba(rgb(0, 0, 0), 0.2);
            opacity: 0.2;
        }
    }

    &.owned
    {
        .button
        {
            background-color: rgba(rgb(134, 134, 134), 0.2);
            opacity: 1;

            img
            {
                opacity: 1;
            }
        }

        &:hover
        {
            .button
            {
                background-color: rgba(rgb(134, 134, 134), 0.5);
                opacity: 1;
            }
        }

        border: 2px solid rgba(255, 217, 0, 0.11);
    }

    &:not(.cant-afford)
    {
        &:hover
        {
            sound-in: ui.button.over;

            .button
            {
                background-color: rgba(white, 0.2);

                img
                {
                    opacity: 1;
                }
            }
        }

        &:active
        {
            sound-in: ui.popup.message.close;
        }
    }

    &:hover
    {

        .button
        {
            background-color: rgba(black, 0.5);

            img
            {
                opacity: 1;
            }
        }

        .hover-info
        {
            opacity: 1;
            left: -450px;
            width: 450px;
            transition: all 0.2s ease-out;
        }
    }

    &:active
    {
        transition: all 0.05s ease-in-out;
        
        .button
        {
            transform: scale(0.9);
        }
    }
}
