@using Sandbox.UI;
@using System;
@using System.Linq;
@using Blessings;

@attribute [StyleSheet]

@namespace PizzaClicker

@if (Player == null || Blessing == null) {
    return;
}

<root onclick=@Pressed class=@CanAfford>
    <div class="button">
        <img src=@Blessing.Icon class="icon" />
    </div>
</root>

@code
{
    public Player Player { get; set; }
    public Blessing Blessing { get; set; }

    private BlessingHover HoverPanel { get; set; }

    private string CanAfford
    {
        get {
            if (Player.HasBlessing(Blessing.Ident)) {
                return "owned";
            }

            if (Blessing.Requires.Any(b => !Player.HasBlessing(b))) {
                return "cant-afford";
            }

            if (!Player.HasBlessing(Blessing.Ident) && Player.HeavenlyCrust < Blessing.Cost) {
                return "cant-afford";
            }

            return "";
        }
    }

    private void Pressed()
    {
        Player.BuyBlessing(Blessing);
    }

    protected override void OnMouseOver(MousePanelEvent e)
    {
        if (HoverPanel == null) {
            HoverPanel = new() {
                Blessing = Blessing,
                Player = Player
            };

            GameMenu.Instance.Panel.AddChild(HoverPanel);
        }
    }

    protected override void OnMouseOut(MousePanelEvent e)
    {
        if (HoverPanel != null) {
            HoverPanel.Delete(true);
            HoverPanel = null;
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CanAfford);
    }
}
