
Chatbox
{
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 450px;
    height: 500px;
    padding: 16px;
    z-index: 250;

    background-color: rgba(black, 0);
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    font-family: Verdana;
    font-size: 18px;
    transition: all 0.1s ease-out;

    .chat
    {
        flex-grow: 1;
        flex-direction: column-reverse;
        overflow-y: scroll;
        gap: 4px;
        pointer-events: none;

        chatentry
        {
            opacity: 1;
            transition: all 0.1s ease-out;
            left: 0px;

            &.fade
            {
                opacity: 0;
            }

            &:intro
            {
                left: 8px;
            }
        }
    }

    textentry
    {
        opacity: 1;
        color: white;
        font-size: 20px;
        flex-shrink: 0;
        background-color: rgba(black, 0.2);
        transition: all 0.1s ease-out;

        .placeholder
        {
            color: rgba(white, 1);
        }

        &:hover
        {
            background-color: rgba(black, 0.5);
        }
    }

    &.show
    {
        background-color: rgba(black, 0.4);

        .chat
        {
            pointer-events: all;
            chatentry
            {
                &.fade
                {
                    opacity: 1;
                }
            }
        }

        textentry
        {
            background-color: rgba(black, 0.6);
        }
    }
}
