@using Sandbox;
@using Sandbox.UI;

@inherits Panel
@namespace PizzaClicker

<root class="@(Entry.Styles)">

    @if (Entry.SteamId != 0)
    {
        <img class="avatar" src="@($"avatar:{Entry.SteamId}")" />
    }
    <p class="name">@Entry.Name</p>
    <div class="message-content">
        <p class="message">@Entry.Message</p>
    </div>

</root>

@code
{
    public Chatbox.Entry Entry { get; set; }

    public override void Tick()
    {
        base.Tick();

        if (Entry.TimeSinceBorn > 10 && !HasClass("fade"))
        {
            AddClass("fade");
        }

        if (Entry.TimeSinceBorn > 60 * 10f)
        {
            Delete();
        }
    }

}