{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "ed477510-1543-4222-b079-d07aff46a4dd",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}