@using Sandbox.UI;
@using System;
@using Upgrades;

@attribute [StyleSheet]

@namespace PizzaClicker

@if (Player == null || Upgrade == null) {
    return;  
}

<root onclick=@Pressed class=@CanAfford>
    <div class="button">
        <img src=@Upgrade.Icon class="icon" />
    </div>
</root>

@code
{
    // Code References
    public Upgrade Upgrade { get; set; }
    public Player Player { get; set; }

    // string that returns Cost as string with commas
    private string CostString => NumberHelper.ToStringAbbreviated(Upgrade.GetCost(Player));
    private string CanAfford => (Player.Pizzas >= Upgrade.GetCost(Player)) ? "" : "cant-afford";

    private UpgradeHover HoverPanel { get; set; }

    private void Pressed()
    {
        Player.GiveUpgrade(Upgrade.Ident);
    }

    protected override void OnMouseOver(MousePanelEvent e)
    {
        if (HoverPanel == null) {
            HoverPanel = new UpgradeHover() {
                Upgrade = Upgrade,
                Player = Player,
                ParentButton = this
            };

            GameMenu.Instance.AddChild(HoverPanel);
        }
    }

    protected override void OnMouseOut(MousePanelEvent e)
    {
        if (HoverPanel != null) {
            HoverPanel.Delete(true);
            HoverPanel = null;
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CanAfford);
    }
}
